@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sky-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-500 overflow-x-hidden; font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .dark .glass-card {
    background: rgba(31, 41, 55, 0.2);
    border: 1px solid rgba(75, 85, 99, 0.3);
  }
  .chart-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    max-height: 400px;
}
}
